### 19.3.3 SQL Case Study - Tier 2 - Jupyter Notebook Questions

### Imports

In [4]:
import os
from sqlalchemy import create_engine
import pandas as pd
import sqlite3

engine = create_engine('sqlite:///sqlite_db_pythonsqlite.db')

Q10: Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests 
and members!

In [42]:
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')

query = """
SELECT 
    f.name,
    SUM(CASE 
        WHEN b.memid IS NOT NULL THEN f.membercost * b.slots
        ELSE f.guestcost * b.slots
    END) AS total_revenue
FROM 
    Facilities AS f
JOIN 
    Bookings AS b ON f.facid = b.facid
GROUP BY 
    f.name
HAVING 
    SUM(CASE 
        WHEN b.memid IS NOT NULL THEN f.membercost * b.slots
        ELSE f.guestcost * b.slots
    END) < 1000
ORDER BY 
    total_revenue;
"""

df = pd.read_sql_query(query, conn)

conn.close()

print(df)

              name  total_revenue
0  Badminton Court              0
1       Pool Table              0
2    Snooker Table              0
3     Table Tennis              0

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order.

In [52]:
conn1 = sqlite3.connect('sqlite_db_pythonsqlite.db')

query1 = """
SELECT 
    m1.surname,
    m1.firstname,
    (m2.firstname || ' ' || m2.surname) AS recommended_by
FROM 
    Members AS m1
INNER JOIN 
    Members AS m2 ON m1.recommendedby = m2.memid
WHERE 
    m1.recommendedby IS NOT NULL AND m1.recommendedby > 0
ORDER BY 
    m1.surname, m1.firstname;
"""

df1 = pd.read_sql_query(query1, conn1)

conn1.close()

print(df1)

              surname  firstname     recommended_by
0               Bader   Florence    Ponder Stibbons
1               Baker       Anne    Ponder Stibbons
2               Baker    Timothy     Jemima Farrell
3              Boothe        Tim         Tim Rownam
4             Butters     Gerald       Darren Smith
5              Coplin       Joan      Timothy Baker
6             Crumpet      Erica        Tracy Smith
7                Dare      Nancy    Janice Joplette
8             Genting    Matthew     Gerald Butters
9                Hunt       John  Millicent Purview
10              Jones      David    Janice Joplette
11              Jones    Douglas        David Jones
12           Joplette     Janice       Darren Smith
13          Mackenzie       Anna       Darren Smith
14               Owen    Charles       Darren Smith
15             Pinker      David     Jemima Farrell
16            Purview  Millicent        Tracy Smith
17             Rumney  Henrietta    Matthew Genting
18             Sarwin  Ramnaresh     Florence Bader
19              Smith       Jack       Darren Smith
20           Stibbons     Ponder       Burton Tracy
21  Worthington-Smyth      Henry        Tracy Smith

Q12: Find the facilities with their usage by member, but not guests.

In [67]:
conn2 = sqlite3.connect('sqlite_db_pythonsqlite.db')

query2 = """
SELECT 
    f.name AS Facility_Name,
    COUNT(b.bookid) AS Member_Usage
FROM 
    Bookings AS b
JOIN 
    Facilities AS f ON b.facid = f.facid
WHERE 
    b.memid != 0
GROUP BY 
    f.facid
ORDER BY 
    f.name;
"""

df2 = pd.read_sql_query(query2, conn2)

conn2.close()

print(df2)

     Facility_Name  Member_Usage
0  Badminton Court           344
1   Massage Room 1           421
2   Massage Room 2            27
3       Pool Table           783
4    Snooker Table           421
5     Squash Court           195
6     Table Tennis           385
7   Tennis Court 1           308
8   Tennis Court 2           276

Q13: Find the facilities usage by month, but not guests.

In [68]:
conn3 = sqlite3.connect('sqlite_db_pythonsqlite.db')

query3 = """
SELECT 
    f.name AS Facility_Name,
    STRFTIME('%Y-%m', b.starttime) AS Month,
    COUNT(b.bookid) AS Member_Usage_Count
FROM 
    Bookings AS b
JOIN 
    Facilities AS f ON b.facid = f.facid
WHERE 
    b.memid != 0
GROUP BY 
    f.facid, STRFTIME('%Y-%m', b.starttime)
ORDER BY 
    f.name, STRFTIME('%Y-%m', b.starttime);
"""

df3 = pd.read_sql_query(query3, conn3)

conn3.close()

print(df3)

      Facility_Name    Month  Member_Usage_Count
0   Badminton Court  2012-07                  51
1   Badminton Court  2012-08                 132
2   Badminton Court  2012-09                 161
3    Massage Room 1  2012-07                  77
4    Massage Room 1  2012-08                 153
5    Massage Room 1  2012-09                 191
6    Massage Room 2  2012-07                   4
7    Massage Room 2  2012-08                   9
8    Massage Room 2  2012-09                  14
9        Pool Table  2012-07                 103
10       Pool Table  2012-08                 272
11       Pool Table  2012-09                 408
12    Snooker Table  2012-07                  68
13    Snooker Table  2012-08                 154
14    Snooker Table  2012-09                 199
15     Squash Court  2012-07                  23
16     Squash Court  2012-08                  85
17     Squash Court  2012-09                  87
18     Table Tennis  2012-07                  48
19     Table Tennis  2012-08                 143
20     Table Tennis  2012-09                 194
21   Tennis Court 1  2012-07                  65
22   Tennis Court 1  2012-08                 111
23   Tennis Court 1  2012-09                 132
24   Tennis Court 2  2012-07                  41
25   Tennis Court 2  2012-08                 109
26   Tennis Court 2  2012-09                 126